body {
  background-color: white;
  text-align: center;
  /*overflow: hidden;*/
  margin: 0;
  padding: 0;
}

#navibar, #visitbar {
  text-align: left;
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  background-color: #999;
  color: #ddd;
  font-family: sans-serif;
  font-size: 10px;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #555;
  height: 14px;
  line-height: 14px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

#visitbar {
  display: none;
  height: 12px;
  font-size: 9px;
  text-align: right;
  border-bottom: 0;
  padding-top: 0;
}

#navibar {
  padding-right: 64px;
  /* ^^ doesn't work :( */
}

#navibar a, #visitbar a {
  color: white;
  text-decoration: none;
}

#navibar a:hover, #visitbar a:hover {
  color: white;
  text-decoration: underline;
}

#recentchanges span, #recentvisits span {
  font-size: 8px;
}

#searchform, #searchfield {
  display: inline;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 9px;
  line-height: 9px;
  height: 14px;
  width: 60px;
  color: black;
}

#searchform {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #999;
}

#searchfield {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 12px;
  width: 60px;
  background-color: #ccc;
}
#searchfield:hover, #searchfield:focus {
  background-color: #ffc;
}

a#likititle {
  display: block;
  text-align: left;
  font-style: normal;
  color: #ccc;
  z-index: 50;
  font-family: Georgia,serif;
  font-size: 30px;
  font-style: italic;
  padding-top: 70px;
  padding-left: 10px;
  margin: 0;
  margin-bottom: -7px;
  font-weight: normal;
  text-decoration: none;
  /*background-image: url(back.jpg);
  background-position: bottom left;
  background-repeat: no-repeat;*/
  background-color: #900;
}
a#likititle em {
  font-style: italic;
  color: white;
  text-decoration: none;
  /*text-decoration: underline;*/
}
a#likititle:after {
  visibility: hidden;
  content: ' frontpage';
  border: 0;
  margin: 0;
  padding: 0;
  color: white;

}

a#likititle:hover, a#likititle:hover em {
  color: #999;
  text-decoration: none;
  background-image: none;
  background-color: #800;
}

a#likititle:hover em {
  color: #aaa;
}

a#likititle:hover:after {
  visibility: visible;
}

#toolbar {
  position: fixed;
  right: 0;
  top: 0;
  height: 12px;
  z-index: 20;
  margin: 0;
  padding: 0;
  padding-right: 5px;
  text-align: right;
  line-height: 10px;
  color: #777;
  font-size: 10px;
  font-family: sans-serif;
  overflow: hidden;
}

#uploadiframe {
  position: fixed;
  display: none;
  right: 60px;
  top: 12px;
  width: 400px;
  height: 50px;
  border: 1px solid #999;
  z-index: 100;
  margin: 0;
  padding: 0;
}

#uploadbody {
  background-color: #555;
  margin: 0;
  padding: 15px;
  border: 0;
  overflow: hidden;
}

#uploadbody h1 {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}

#uploadform input {
  width: 100%;
  height: 100%;
  color: black;
  background-color: #ddd;
  border: 0;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 10px;
}

#toolbar span, #toolbar a {
  height: 12px;
  padding: 0;
  margin: 0;
  line-height: 10px;
  font-size: 10px;
  font-family: sans-serif;
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: none;
  color: #ccc;
}

#toolbar a {
  color: black;
}

#toolbar a:hover {
  background: black;
  color: white;
  text-decoration: none;
}

#uploadbutton {
  display: none;
}

.readmode {
  color: black;
  background-color: #ddd;
}
.transmitting {
  color: yellow;
  background-color: #555;
}
.editmode {
  color: white;
  background-color: red;
}
.disabled {
  color: #555;
  background-color: #ddd;
}
  
#status {
  position: fixed;
  width: 100%;
  height: 12px;
  background-color: #ddd;
  left: 0;
  top: 0;
  z-index: 10;
  overflow: hidden;

  color: #777;
  font-size: 10px;
  font-family: sans-serif;
  border-bottom: 1px solid #999;
}


#content, #viewcontent {
  text-align: left;
  color: #333;
  font-family: sans-serif;
  font-size: 12px;
  /*overflow: scroll;*/
  /*padding: 0px;*/
  border: 0;
}

#viewcontent {
  margin: 15%;
  margin-bottom: 25px;
  margin-top: 50px;
}

#content {
  font-family: monospace;
  font-size: 13px;
  background-color: white;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  z-index: 20;
}

#contenteditor {
  visibility: hidden;
  position: absolute;
  top: 13px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  margin: 0;
  padding: 0;
  border: 0;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #555;
  color: white;
}


/* --- content --- */
#viewcontent > h1  {
  position: relative;
  top: 0px;
  left: 0px;
  font-family: 'Bitstream Vera Sans', 'MS Trebuchet', 'Verdana', 'Arial', sans-serif;
  font-weight: normal;
  letter-spacing: -2px;
  font-size: 22px;
  color: black;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
}

#viewcontent h2 {
  font-family: 'Bitstream Vera Sans', 'MS Trebuchet', 'Verdana', 'Arial', sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #ccc;
  margin: 0;
  margin-top: 20px;
  /*background-color: #eee;*/
}

#viewcontent blockquote, #viewcontent pre {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #555;
  border: 1px solid #ccc;
  background-color: #ffe;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

#viewcontent blockquote.comment {
  background-color: #dfd;
  font-style: italic;
}

#viewcontent pre {
  font-family: monospace;
  background-color: #eef;
}

#viewcontent hr {
  height: 0;
  border: 0;
  border-top: 1px solid #ccc;
}

.centerpic {
  display: block;
  max-width: 98%;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #bbb;
}

li.termin  {
  padding: 10px;
  border: 1px solid black;
  background-color: #555;
  color: #ddd;
  margin-bottom: 10px;
}

#terminplanheute {
  background-color: #500;
}

li.termin div.termindatum {
  font-size: 10px;
  margin: 0;
}

li.termin h1 {
  margin-top: 0;
  font-size: 18px;
  color: #f33;
}

li.termin h2 {
  font-size: 14px;
  color: #eee;
  margin-top: 7px;
  margin-bottom: 5px;
}

a.internal:before {
  content: '[';
  color: #ccc;
}

a.internal:after {
  content: ']';
  color: #ccc;
}

a.internal {
  color: blue;
  text-decoration: none;
}

a.internal:hover {
  background-color: #ccc;
}

a.external:before {
  /* u+221e: INFINITY */
  content: '\221e';
  color: #ccc;
}

a.external {
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

a.external:hover {
  border-bottom-color: red;
}

